<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="screen-orientation" content="portrait">
    <title>二哲 - Vue构建多页项目</title>
    <!--<link rel="stylesheet" href="../../css/commen/index.css">-->
    <link rel="stylesheet" href="../../css/mic/index.css">
    <script src="../../js/lib/three.js"></script>
    <script src="../../js/lib/OBJLoader.js"></script>
</head>
<body>
<div id="container">
   显微镜
</div>
<script src="../../js/mic/index.js"></script>
</body>
</html>